In [1]:
# Importing the required libraries and dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine, inspect, MetaData, Table, Column, Integer, String

In [2]:
database_connection_string = 'sqlite:///debtfreedb.db'

engine = create_engine(database_connection_string)

In [3]:
meta = MetaData()
mcc_type = Table(
   'mcc_type', meta, 
       Column('mcc', String, primary_key = True), 
       Column('edited_description', String),
)
meta.create_all(engine)

In [4]:
meta = MetaData()
mcc_type = Table(
   'account_holder', meta, 
       Column('id', Integer, primary_key = True), 
       Column('credit_limit', Integer),
)
meta.create_all(engine)

In [5]:
meta = MetaData()
mcc_type = Table(
   'account', meta, 
       Column('account_number', Integer, primary_key = True), 
       Column('user_name', String),
        Column('account_holder_id', Integer),
)
meta.create_all(engine)

In [6]:
meta = MetaData()
mcc_type = Table(
   'transaction', meta, 
       Column('id', Integer, primary_key = True), 
       Column('transaction_date', String),
        Column('account_id', Integer),
    Column('amount', Integer),
    Column('mcctype_mcc', String),
    Column('merchant_id', Integer),
)
meta.create_all(engine)

In [7]:
meta = MetaData()
mcc_type = Table(
   'merchant', meta, 
       Column('id', Integer, primary_key = True), 
       Column('city', String),
        Column('state', Integer),
    Column('zip', Integer),
    Column('mcctype_mcc', String),
    Column('merchant_id', Integer),
)
meta.create_all(engine)

In [8]:
inspector = inspect(engine)
inspector.get_table_names()

['account', 'account_holder', 'mcc_type', 'merchant', 'transaction']

In [9]:
inspector.get_columns("mcc_type")

[{'name': 'mcc',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'edited_description',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [10]:
csv_path = Path('./resources/mcc_codes.csv')
mcc_df = pd.read_csv(csv_path)
mcc_df

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes
...,...,...,...,...,...,...
976,9405,Intra – Government Transactions,Intra – Government Transactions,Intra – Government Transactions,U.S. Federal Government Agencies or Departments,No1.6041-3(p)(3)
977,9700,Automated Referral Service ( For Visa Only),Automated Referral Service ( For Visa Only),Automated Referral Service ( For Visa Only),NaN,NaN
978,9701,Visa Credential Service ( For Visa Only),Visa Credential Service ( For Visa Only),Visa Credential Service ( For Visa Only),NaN,NaN
979,9702,GCAS Emergency Services ( For Visa Only),GCAS Emergency Services ( For Visa Only),GCAS Emergency Services ( For Visa Only),NaN,NaN
980,9950,Intra – Company Purchases ( For Visa Only),Intra – Company Purchases ( For Visa Only),Intra – Company Purchases ( For Visa Only),Intra-Company Purchases,No1.6041-3(c)

In [11]:
inspector = inspect(engine)
inspector.get_table_names()

['account', 'account_holder', 'mcc_type', 'merchant', 'transaction']

In [12]:
inspector.get_columns("mcc_type")

[{'name': 'mcc',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'edited_description',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [15]:
pd.read_sql_table('account_holder', con=engine)

Empty DataFrame
Columns: [id, credit_limit]
Index: []