In [162]:
import pandas as pd
import sqlalchemy
import numpy as np
import hvplot.pandas
from pathlib import Path
import questionary
import fire

In [163]:
ccdata_df = pd.read_csv(
    Path("resources/cc_transactions_reduced.csv"))

In [164]:
display(ccdata_df.head())
display(ccdata_df.tail())

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2016,1,3,10:48,$66.48,Chip Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,NaN,No
1,0,0,2016,1,4,06:43,$40.02,Chip Transaction,-34551508091458520,La Verne,CA,91750.0,5912,NaN,No
2,0,0,2016,1,7,09:30,$54.11,Chip Transaction,4055257078481058705,La Verne,CA,91750.0,7538,NaN,No
3,0,0,2016,1,7,16:03,$89.48,Chip Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2016,1,10,06:38,$29.15,Chip Transaction,-5475680618560174533,Monterey Park,CA,91755.0,5942,NaN,No

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
185164,49,2,2020,2,22,11:27,$3.30,Chip Transaction,1913477460590765860,Thomasville,GA,31792.0,5300,NaN,No
185165,49,2,2020,2,22,17:10,$0.69,Chip Transaction,-6571010470072147219,Fitzgerald,GA,31750.0,5499,NaN,No
185166,49,2,2020,2,23,18:49,$31.09,Chip Transaction,-6111659717970471494,Camilla,GA,31730.0,7538,NaN,No
185167,49,2,2020,2,27,17:00,$0.79,Chip Transaction,-6571010470072147219,Fitzgerald,GA,31750.0,5499,NaN,No
185168,49,2,2020,2,28,09:04,$9.07,Chip Transaction,-1288082279022882052,Camilla,GA,31730.0,5499,NaN,No

In [165]:
database_connection_string = 'sqlite:///'        # ccinfo_reduced or debtfreedb.db ?

In [166]:
engine = sqlalchemy.create_engine(database_connection_string)

engine

Engine(sqlite:///)

In [167]:
ccdata_df.to_sql('accounts', engine, index=False, if_exists='replace')
sql_ccdata_df = pd.read_sql_table('accounts', con=engine)
sql_ccdata_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2016,1,3,10:48,$66.48,Chip Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,None,No
1,0,0,2016,1,4,06:43,$40.02,Chip Transaction,-34551508091458520,La Verne,CA,91750.0,5912,None,No
2,0,0,2016,1,7,09:30,$54.11,Chip Transaction,4055257078481058705,La Verne,CA,91750.0,7538,None,No
3,0,0,2016,1,7,16:03,$89.48,Chip Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,None,No
4,0,0,2016,1,10,06:38,$29.15,Chip Transaction,-5475680618560174533,Monterey Park,CA,91755.0,5942,None,No

In [168]:
engine.table_names()   #inspector = inspect(engine)
                       #inspector.get_table_names

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['accounts']

In [169]:
query_2019 = """
SELECT "User", "Card", "Year", "Amount"
FROM accounts
WHERE Year = 2019;
"""


results = engine.execute(query_2019)

sql_data_2019_df =pd.DataFrame(results)

sql_data_2019_df

        0  1     2        3
0       0  0  2019  $120.30
1       0  0  2019   $68.43
2       0  0  2019   $59.17
3       0  0  2019   $16.07
4       0  0  2019  $132.82
...    .. ..   ...      ...
44670  49  2  2019   $38.51
44671  49  2  2019   $12.42
44672  49  2  2019    $0.42
44673  49  2  2019   $11.84
44674  49  2  2019   $42.52

[44675 rows x 4 columns]

In [170]:
sql_data_2019_df.loc[:, 3] = sql_data_2019_df.loc[:, 3].str.replace("$", "")
sql_data_2019_df.head()

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

   0  1     2       3
0  0  0  2019  120.30
1  0  0  2019   68.43
2  0  0  2019   59.17
3  0  0  2019   16.07
4  0  0  2019  132.82

In [172]:
columns = ["User", "Card", "Year", "Amount"]
sql_data_2019_df.columns = columns
display(sql_data_2019_df.head())
display(sql_data_2019_df.tail())

   User  Card  Year  Amount
0     0     0  2019  120.30
1     0     0  2019   68.43
2     0     0  2019   59.17
3     0     0  2019   16.07
4     0     0  2019  132.82

       User  Card  Year Amount
44670    49     2  2019  38.51
44671    49     2  2019  12.42
44672    49     2  2019   0.42
44673    49     2  2019  11.84
44674    49     2  2019  42.52

In [173]:
sql_data_2019_df.dtypes

User       int64
Card       int64
Year       int64
Amount    object
dtype: object

In [175]:
sql_data_2019_df.loc[:, "Amount"] = sql_data_2019_df.loc[:, "Amount"].astype("float")

sql_data_2019_df.dtypes

User        int64
Card        int64
Year        int64
Amount    float64
dtype: object

In [ ]:
#need 'account holder' 'account' 'transaction' 'dates'

In [ ]:
# need sum of debt for user

In [ ]:
#credit limit and balance

In [ ]:
#use 2019 data

In [ ]:
# need to append 10% interest

In [ ]:
#need to give option on payment plan  years 3,6,9,12 months future value?

In [ ]:
# work on slides

In [ ]:
# customer ?
# cards?
# calculate debt for 3 months
# how much would payments be a month? to pay off in what amount of time?
#append interest 10%