In [8]:
%reload_ext autoreload
%autoreload 2
import pandas as pd
import sqlalchemy
import numpy as np
import hvplot.pandas
from pathlib import Path
import questionary
import fire
from db_utils import get_debt_free_db_engine,get_transaction_for_user_year

In [9]:
engine= get_debt_free_db_engine()

In [10]:
get_transaction_for_user_year(engine, 0, "2019")

,transaction_date,card,user_id,amount,mcc,merchant_id
0,2019-01-05 06:02:00.000000,0,0,120.30,5411,7522433618679272954
1,2019-01-06 20:10:00.000000,0,0,68.43,5812,-2744911404133435018
2,2019-01-09 10:18:00.000000,0,0,59.17,7538,-4693979874497918566
3,2019-01-11 13:13:00.000000,0,0,16.07,5411,7522433618679272954
4,2019-01-12 05:54:00.000000,0,0,132.82,5300,1913477460590765860
...,...,...,...,...,...,...
1159,2019-12-29 06:13:00.000000,3,0,141.99,5300,4319011153593601999
1160,2019-12-29 13:04:00.000000,3,0,94.34,4900,-3720291673656662427
1161,2019-12-30 06:21:00.000000,3,0,133.01,5411,-2033977572369517322
1162,2019-12-30 19:31:00.000000,3,0,109.96,4814,4241336128694185533
1163,2019-12-31 13:08:00.000000,3,0,12.41,5812,5205099864768539121

In [11]:
ccdata_df = pd.read_csv(
    Path("resources/cc_transactions_reduced.csv"))

In [12]:
display(ccdata_df.head())
display(ccdata_df.tail())

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2016,1,3,10:48,$66.48,Chip Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,NaN,No
1,0,0,2016,1,4,06:43,$40.02,Chip Transaction,-34551508091458520,La Verne,CA,91750.0,5912,NaN,No
2,0,0,2016,1,7,09:30,$54.11,Chip Transaction,4055257078481058705,La Verne,CA,91750.0,7538,NaN,No
3,0,0,2016,1,7,16:03,$89.48,Chip Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2016,1,10,06:38,$29.15,Chip Transaction,-5475680618560174533,Monterey Park,CA,91755.0,5942,NaN,No

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
185164,49,2,2020,2,22,11:27,$3.30,Chip Transaction,1913477460590765860,Thomasville,GA,31792.0,5300,NaN,No
185165,49,2,2020,2,22,17:10,$0.69,Chip Transaction,-6571010470072147219,Fitzgerald,GA,31750.0,5499,NaN,No
185166,49,2,2020,2,23,18:49,$31.09,Chip Transaction,-6111659717970471494,Camilla,GA,31730.0,7538,NaN,No
185167,49,2,2020,2,27,17:00,$0.79,Chip Transaction,-6571010470072147219,Fitzgerald,GA,31750.0,5499,NaN,No
185168,49,2,2020,2,28,09:04,$9.07,Chip Transaction,-1288082279022882052,Camilla,GA,31730.0,5499,NaN,No

In [13]:
database_connection_string = 'sqlite:///'        # ccinfo_reduced or debtfreedb.db ?

In [14]:
engine = sqlalchemy.create_engine(database_connection_string)

engine

Engine(sqlite:///)

In [15]:
ccdata_df.to_sql('accounts', engine, index=False, if_exists='replace')
sql_ccdata_df = pd.read_sql_table('accounts', con=engine)
sql_ccdata_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2016,1,3,10:48,$66.48,Chip Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,None,No
1,0,0,2016,1,4,06:43,$40.02,Chip Transaction,-34551508091458520,La Verne,CA,91750.0,5912,None,No
2,0,0,2016,1,7,09:30,$54.11,Chip Transaction,4055257078481058705,La Verne,CA,91750.0,7538,None,No
3,0,0,2016,1,7,16:03,$89.48,Chip Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,None,No
4,0,0,2016,1,10,06:38,$29.15,Chip Transaction,-5475680618560174533,Monterey Park,CA,91755.0,5942,None,No

In [16]:
engine.table_names()   #inspector = inspect(engine)
                       #inspector.get_table_names

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['accounts']

query_2019 = """
SELECT "User", "Card", "Year", "Amount"
FROM accounts
WHERE Year = 2019;
"""


results = engine.execute(query_2019)

sql_data_2019_df =pd.DataFrame(results)

sql_data_2019_df

sql_data_2019_df.loc[:, 3] = sql_data_2019_df.loc[:, 3].str.replace("$", "")
sql_data_2019_df.head()

columns = ["User", "Card", "Year", "Amount"]
sql_data_2019_df.columns = columns
display(sql_data_2019_df.head())
display(sql_data_2019_df.tail())

sql_data_2019_df.dtypes

sql_data_2019_df.loc[:, "Amount"] = sql_data_2019_df.loc[:, "Amount"].astype("float")

sql_data_2019_df.dtypes

def run():
    print("Gathering data for the database...")

In [14]:
#need 'account holder' 'account' 'transaction' 'dates'

In [15]:
# need sum of debt for user

In [16]:
#credit limit and balance

In [17]:
#use 2019 data

In [18]:
# need to append 10% interest

In [19]:
#need to give option on payment plan  years 3,6,9,12 months future value?

In [20]:
# work on slides

In [21]:
# customer ?
# cards?
# calculate debt for 3 months
# how much would payments be a month? to pay off in what amount of time?
#append interest 10%